.project {
  width: auto;
  height: 24rem;
  cursor: pointer;
  position: relative;
  transition: all ease 0.4s;
}
.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gradient {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
.title {
  position: absolute;
  bottom: 1rem;
  text-align: center;
  width: 100%;
  color: var(--color-light);
}
.overlay {
  transition: all ease 0.4s;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark);
  color: var(--color-light);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.overlay img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}
.overlay h2 {
  font-size: 1.25rem;
  padding: 1rem 1rem 0 1rem;
}
.tags {
  padding: 0.25rem 1rem;
  display: flex;
  gap: 0.5rem;
}
.tag {
  font-weight: 400;
  color: var(--color-dark-5);
  font-style: italic;
  border: 1px solid var(--color-dark-5);
  padding: 0 0.5rem;
  border-radius: 1rem;
}
.overlay p {
  padding: 0 1rem;
}

/* .dark {
  color: var(--color-dark);
  background-color: var(--color-light-075);
} */
.project:hover .overlay {
  opacity: 1;
}
.cta {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
.cta a {
  /* font-size: 1.5rem; */
  border: 2px solid transparent;
  transition: all ease 0.4s;
}
.cta a:hover {
  border-bottom: 2px solid var(--color-light);
}
.dark {
  background-color: var(--color-light);
  color: var(--color-dark);
}
.dark .cta a:hover {
  border-bottom: 2px solid var(--color-dark);
}
/* .dark .tags .tag{
  color: var(--color-light-2);
} */
