.title {
  /* text-align: center; */
  text-transform: uppercase;
  font-size: 2rem;
  width: fit-content;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  border-bottom: 4px solid var(--color-dark);
  margin-bottom: 4rem;
  transition: all ease 0.4s;
}
.title::before {
  transition: all ease 0.4s;
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: -1.5rem;
  height: 0.75rem;
  width: 1.5rem;
  background-color: var(--color-dark);
}
.title::after {
  transition: all ease 0.4s;
  content: '';
  position: absolute;
  bottom: -0.5rem;
  height: 0.75rem;
  width: 1.5rem;
  background-color: var(--color-dark);
}
.dark {
  transition: all ease 0.4s;
  border-bottom: 4px solid var(--color-light);
}
.dark::before,
.dark::after {
  background-color: var(--color-light);
}
