.projects {
  /* min-height: 100vh; */
}
.title {
  text-shadow: 2px -2px 0 var(--color-3);
}
.dark {
  color: var(--color-3);
  text-shadow: 2px -2px 0 var(--color-dark);
}
.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.featured {
  margin-bottom: 2rem;
  cursor: grab;
}
.header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: inherit;
}
.header p {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}
.swipe {
  margin-top: 1rem;
  position: relative;
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  .items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 900px) {
  .items {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .items {
    grid-template-columns: 1fr;
  }
}
