.container {
  display: none;
  font-size: 4rem;
  cursor: pointer;
  background-color: var(--color-dark);
  color: var(--color-light);
}

.wrapper {
  height: 6rem;
  width: 6rem;
  display: grid;
  place-items: center;
}
.burger div {
  height: 10px;
  width: 4rem;
  background-color: var(--color-light);
  margin: 10px;
  transition: all ease 0.4s;
}

.active .line1 {
  transform: rotate(-45deg) translate(-14px, 14px);
}
.active .line2 {
  opacity: 0;
}
.active .line3 {
  transform: rotate(45deg) translate(-14px, -14px);
}

.dark {
  background-color: var(--color-light);
  color: var(--color-dark);
}
.dark .burger div {
  background-color: var(--color-dark);
}
@media only screen and (max-width: 1200px) {
  .container {
    display: block;
  }
}
